# Ignore node_modules, as we will install them in the Docker container
node_modules

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore local development files
npm-debug.log
yarn-debug.log
yarn-error.log
# Ignore Docker-related files if not needed in the container
docker-compose.yml

# Ignore anything else that's not needed in the container
dist/
build/